html, body{
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-image: url(Kepek/hatter.jpg);
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
}

header {
  border-bottom: 2px solid #ddd;
}

.card img {
  height: 200px;
  object-fit: cover;
}

footer {
  color: black;
  background-color: orange;
  text-align: center;
  margin: auto;
  
}
